<!DOCTYPE html>
<html>

<head>
  <title>Pokenea: <%= pokenea.nombre %>
  </title>
  <link rel="stylesheet" href="/css/pokeneaImage.css">
</head>

<body>
  <h1>
    <%= pokenea.nombre %>
  </h1>
  <img src="<%= pokenea.imagen %>" alt="<%= pokenea.nombre %>" />
  <div class="frase">"<%= pokenea.frase %>"</div>
  <div class="container-id">ID del contenedor: <%= containerId %>
  </div>
</body>

</html>